<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">User Wishlis</h6>
  </div>
  <div class="card-body">
    <!-- Success Alert -->
    <%if session[:success] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div><%= session[:success] %></div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Clear the flash message -->
    <% session[:success] = nil %> <% end %>

    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>User</th>
            <th>Car Name</th>
            <th>Car Brand</th>
            <th>Car Photo</th>
            <th>Price Per Unit</th>
            <th>Quantity Wishlist</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          <% @wishlists.each_with_index do |wishlist, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><% profile = DB.get_first_row("SELECT name from profiles WHERE id = ?", [wishlist['profile_id']]) %> <%= profile && profile['name'] ? profile['name'] : 'No profile' %></td>
            <td><% car = DB.get_first_row("SELECT name FROM cars WHERE id = ?" , [wishlist['car_id']]) %> <%= car && car['name'] ? car['name'] : 'No car found' %></td>
            <td><% car = DB.get_first_row("SELECT brand FROM cars WHERE id = ?" , [wishlist['car_id']]) %> <%= car && car['brand'] ? car['brand'] : 'No brand found' %></td>
            <!-- <td><%= wishlist[''] %></td> -->
            <td>
              <% car = DB.get_first_row("SELECT photo FROM cars WHERE id = ?" , [wishlist['car_id']]) %> <% if car['photo'] %>
              <img src="/uploads/cars/<%= car && car['photo'] ? car['photo'] : 'No profile found' %>" alt="<%= wishlist['name'] %>" style="max-width: 300px" />
              <% else %>
              <p>No Photo Available</p>
              <% end %>
            </td>
            <td>
              <% car = DB.get_first_row("SELECT price FROM cars WHERE id = ?" , [wishlist['car_id']]) %> <%= car && car['price'] ? format_rupiah(car['price']) : 'No brand found'%>
            </td>
            <td><%= wishlist['quantity'] %></td>
            <td><%= format_rupiah(wishlist['total_price']) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
