<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block gambar"></div>
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Register</h1>
          </div>

          <!-- Display errors if present -->
          <% if @errors&.any? %> <% @errors.each do|error| %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <div><%= error %></div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% end %> <% end %>

          <form class="user" action="/register" method="post" enctype="multipart/form-data" >
            <div class="form-group">
              <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Username" value="<%= params[:username]%>" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-user" id="name" name="name" placeholder="Name" value="<%= params[:name]%>" />
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="Email Address" value="<%= params[:email]%>" />
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Password" value="<%= params[:password]%>" />
              </div>
              <div class="col-sm-6">
                <input type="password" class="form-control form-control-user" id="re-password" placeholder="Repeat Password" name="re-password" value="<%= params[:password]%>" />
              </div>
            </div>
            <div class="form-group">
              <select class="form-control" id="country" name="country" value="<%= params[:country]%>">
                <option selected value="<%= params['country'] %>">Select The Country</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Singapore">Singapore</option>
                <option value="Thailand">Thailand</option>
                <option value="Brunei Darussalam">Brunei Darussalam</option>
                <option value="Philipine">Philipine</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Japan">Japan</option>
                <option value="Laos">Laos</option>
                <option value="South Korea">South Korea</option>
                <option value="China">China</option>
                <option value="Australia">Australia</option>
                <option value="England">England</option>
                <option value="France">France</option>
                <option value="Canada">Canada</option>
                <option value="Nepal">Nepal</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="India">India</option>
                <option value="Qatar">Qatar</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="photo" class="form-label">The Image</label>
              <input type="file" class="form-control" name="photo" id="photo" />
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Age</label>
              <input type="number" class="form-control" name="age" id="age" value="<%= params[:age]%>" />
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="number" class="form-control" name="phone" id="phone" value="<%= params[:phone]%>" />
            </div>
            <div class="mb-3">
              <input type="hidden" class="form-control" name="access" id="access" value="0" />
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
          </form>
          <hr />
          <div class="text-center">
            <a class="small" href="/login">Already have an account? Login!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
