<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= @title || "Default Page" %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/fontawesome-free/css/all.css" />
  </head>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-danger">
      <div class="container">
        <a class="navbar-brand text-white" href="/user_page">Mobilio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="#navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Category </a>
              <ul class="dropdown-menu">
                <% if @cars && @cars.any? %>
                  <% @cars.each do |car| %>
                    <li>
                      <a class="dropdown-item" href="/car_brand?brand=<%= car['brand'] %>">
                        <%= car['brand'] %>
                      </a>
                    </li>
                  <% end %>
                <% else %>
                  <li>
                    <a class="dropdown-item disabled" href="#">No Cars Available</a>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
          <form class="container" action="/search" method="GET">
            <div class="input-group">
              <input type="text" name="query" class="form-control" placeholder="Search for a car..." aria-label="Search"  aria-describedby="basic-addon1" />
              <button type="submit" class="input-group-text">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form>

          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            
            <li class="nav-item dropdown position-relative">
              <a class="nav-link text-white position-relative" href="#" id="notificationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-bell">
                  <span class="position-absolute top-5 start-10 translate-middle badge rounded-pill bg-secondary" style="font-size: 8px;">
                    <%= @approved_transactions_count > 6 ? "6+" : @approved_transactions_count %>
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationsDropdown">
                <li class="nav-item">
                  <% if @approved_transactions && @approved_transactions.any? %>
                    <% @approved_transactions.each do |approved| %>
                      <a class="dropdown-item d-flex align-items-center" href="/car_details_transaction/<%= approved['id'] %>">
                        <div class="position-relative">
                          <img src="/uploads/cars/<%= approved['car_photo'] %> " alt="<%= approved['car_name'] %>" class="rounded-circle" width="40" height="40">
                          <div class="position-absolute bottom-0 end-0 bg-success rounded-circle" style="width: 10px; height: 10px;"></div>
                        </div>
                        <div>
                          <div class="fw-bold">
                            <%= approved['car_name'] %>
                          </div>
                          <div class="small text-muted">
                            <%= approved['transaction_date'] %>
                          </div>
                        </div>
                      </a>
                    <% end %>
                  <% else %>
                    <p class="text-center small text-gray-500">No Approved Transactions</p>
                  <% end %>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item text-center" href="/orders">
                    View all notification
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown position-relative">
              <a class="nav-link text-white " href="/#" id="myWishlist" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                <i class="fa-regular fa-heart">
                  <span class="position-absolute top-5 start-10 translate-middle badge rounded-pill bg-secondary" style="font-size: 8px;">
                    <%= @wishlists_count > 6 ? "6+" : @wishlists_count %>
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="myWishlist">
                <li class="nav-item">
                  <% if @wishlists && @wishlists.any? %>
                    <% @wishlists.each do |wishlist| %>
                      <a class="dropdown-item d-flex align-items-center" href="/new_detail_transaction/<%= wishlist['id'] %>">

                        <div class="position-relative">
                          <img src="/uploads/cars/<%= wishlist['car_photo'] %>" alt="<%= wishlist['car_name'] %>" class="rounded-circle" width="40">
                          <div class="position-absolute bottom-0 end-0 bg-success rounded-circle" style="width: 10px; height: 10px;"></div>
                        </div>
                        <div>
                          <div class="fw-bold">
                            <%= wishlist['car_brand'] %>
                          </div>
                          <div class="small text-muted">
                            <%= wishlist['car_name'] %>
                          </div>
                        </div>
                      </a>
                    <% end %>
                  <% else %>
                    <p class="text-center small text-gray-500" >No Adding A Wishlist</p>
                  <% end %>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item text-center" href="/wishlist_lists">
                    View my wishlist
                  </a>
                </li>

              </ul>
            </li>
            <li class="nav-item dropdown position-relative">
              <a class="nav-link text-white" href="#" id="rejectDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-message">
                  <span class="position-absolute top-5 start-10 translate-middle badge rounded-pill bg-secondary" style="font-size: 8px;" >
                    <%= @rejected_transactions_count > 6 ? "6+" : @rejected_transactions_count %>
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="rejectDropdown">
                <li class="nav_item">
                  <% if @rejected_transactions && @rejected_transactions.any? %>
                    <%  @rejected_transactions.each do |rejected| %>
                      <a class="dropdown-item" href="/car_details_transaction/<%= rejected['id'] %>">
                        <div class="position-relative">
                          <img src="/uploads/cars/<%= rejected['car_photo'] %>" alt="<%= rejected['car_name'] %>" class="rounded-circle" width="40" height="40">
                          <div class="position-absolute bottom-0 end-0 bg-success rounded-circle" style="width: 10px; height: 10px;"></div>
                        </div>
                        <div>
                          <div class="fw-bold">
                            <%= rejected['car_name'] %>
                          </div>
                          <div class="small text-muted">
                            <%= rejected['transaction_date'] %>
                          </div>
                        </div>
                      </a>
                    <% end %>
                  <% else %>
                    <p class="text-center small text-gray-500">No Rejected Transactions</p>
                  <% end %>
                </li>
                <li>
                  <hr class="dropdown-divider"></hr>
                </li>
                <li>
                  <a class="dropdown-item text-center" href="/rejected">
                    View all notification
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <button class="nav-link text-white dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-user"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/user_profile">
                    <i class="fa-regular fa-user"></i> My Profile
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/waiting"><i class="fa-solid fa-rectangle-list"></i> Checklist</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Exit</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure want to log out ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/logout" class="btn btn-primary">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

    <!-- <script src="/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>

  </body>
</html>
