<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-danger float-left">Add A Car</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <!-- Success Alert -->
        <% if @errors.any? %> <% @errors.each do |error| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <div><%= error %></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% end %> <% end %>
      </div>
    </div>

    <form action="/add_car" method="post" enctype="multipart/form-data">
      <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" value="<%= params[:name] %>" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="color" class="col-sm-2 col-form-label">Color</label>
        <div class="col-sm-10">
          <select class="form-control" id="color" name="color">
            <option selected value="<%= params[:color] %>">Select the Color</option>
            <option value="White">White</option>
            <option value="Black">Black</option>
            <option value="Silver">Silver</option>
            <option value="Bronze">Bronze</option>
            <option value="Blue">Blue</option>
            <option value="Red">Red</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="brand" class="col-sm-2 col-form-label">Brand</label>
        <div class="col-sm-10">
          <select class="form-control" id="brand" name="brand">
            <option selected value="<%= params[:brand] %>">Select the Brand</option>
            <option value="BWD">BWD</option>
            <option value="Honda">Honda</option>
            <option value="Daihatsu">Daihatsu</option>
            <option value="Mitsubishi">Mitsubishi</option>
            <option value="Tesla">Tesla</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Ferrari">Ferrari</option>
            <option value="BMW">BMW</option>
            <option value="Nissan">Nissan</option>
            <option value="Toyota">Toyota</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="transmission" class="col-sm-2 col-form-label">Transmission</label>
        <div class="col-sm-10">
          <select class="form-control" name="transmission" id="transmission">
            <option selected value="<%= params[:transmission] %>">Select the Transmission</option>
            <option value="CVT">CVT</option>
            <option value="Manual">Manual</option>
            <option value="Matic">Matic</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="seat" class="col-sm-2 col-form-label">Seat</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" name="seat" id="seat" value="<%= params[:seat] %>" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="machine" class="col-sm-2 col-form-label">Machine</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="machine" id="machine" value="<%= params[:machine] %>" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="power" class="col-sm-2 col-form-label">Power</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="power" id="power" value="<%= params[:power] %>" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="photo" class="col-sm-2 col-form-label">Photo</label>
        <div class="col-sm-10">
          <input type="file" class="form-control" name="photo" id="photo" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="price" id="price" value="<%= params[:price] %>" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="stock" class="col-sm-2 col-form-label">Stock</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="stock" id="stock" value="<%= params[:stock] %>" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="manufacture" class="col-sm-2 col-form-label">Manufacture</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" name="manufacture" id="manufacture" value="<%= params[:manufacture] %>" />
        </div>
      </div>

      <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
    <a href="/car_lists" class="btn btn-secondary float-left">Back</a>
  </div>
</div>
