<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-danger float-left">User's Transaction Detail</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <!-- Success Alert -->
        <% if @errors.any? %> <% @errors.each do |error| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <div><%= error %></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% end %> <% end %>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="buyer_name" class="col-sm-2 col-form-label">Buyer</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="buyer_name" name="buyer_name" value="<%= @transaction['buyer_name'] %>" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="car_name" class="col-sm-2 col-form-label">Car Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="name" name="name" value="<%= @transaction['car_name'] %>" readonly />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="car_brand" class="col-sm-2 col-form-label">Car Brand</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="brand" name="brand" value="<%= @transaction['car_brand'] %>" readonly />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="car_name" class="col-sm-2 col-form-label">Car Photo</label>
      <div class="col-sm-10">
        <img src="/uploads/cars/<%= @transaction['car_photo'] %>" class="img-thumbnail" id="name" name="name" value="<%= @transaction['car_name'] %>" style="width: 40%;" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="total_price" class="col-sm-2 col-form-label">Total Price</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="total_price" name="total_price" value="<%= format_rupiah(@transaction['total_price']) %>" readonly />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="quantity" name="quantity" value="<%= @transaction['quantity'] %>" readonly />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="payment_method" class="col-sm-2 col-form-label">Payment Method</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="payment_method" name="payment_method" value="<%= @transaction['payment_method'] %>" readonly />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="car_name" class="col-sm-2 col-form-label">Car Photo</label>
      <div class="col-sm-10">
        <img src="/uploads/payments/<%= @transaction['payment_photo'] %>" class="img-thumbnail" id="name" name="name" value="<%= @transaction['buyer_name'] %>" style="width: 40%;" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="payment_status" class="col-sm-2 col-form-label">Payment Status</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="payment_status" name="payment_status" value="<%= @transaction['payment_status'] %>" readonly />
      </div>
    </div>
    <!-- Edit Button -->
    <a href="/transaction_edit/<%= @transaction['id'] %>" class="btn btn-primary float-right">Edit</a>
    <!-- Back Button -->
    <a href="/transactions_lists" class="btn btn-secondary float-left">Back</a>
  </div>
</div>