<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-danger float-left">Edit A Transaction</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <!-- Success Alert -->
        <% if @errors.any? %> <% @errors.each do |error| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <div><%= error %></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% end %> <% end %>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="buyer_name" class="col-sm-2 col-form-label">Buyer</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="buyer_name" name="buyer_name" value="<%= @transaction['buyer_name'] %>" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="car_name" class="col-sm-2 col-form-label">Car Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="name" name="name" value="<%= @transaction['car_name'] %>" readonly />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="total_price" class="col-sm-2 col-form-label">Total Price</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="total_price" name="total_price" value="<%= @transaction['total_price'] %>" readonly />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="quantity" name="quantity" value="<%= @transaction['quantity'] %>" readonly />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="payment_method" class="col-sm-2 col-form-label">Payment Method</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="payment_method" name="payment_method" value="<%= @transaction['payment_method'] %>" readonly />
      </div>
    </div>
    <form action="/transaction_edit/<%= @transaction['id'] %>" method="post" enctype="multipart/form-data">
      <!-- Hidden Method Fields -->
      <div class="mb-3">
        <input type="hidden" name="_method" value="post" />
      </div>
      <div class="mb-3 row">
        <label for="payment_status" class="col-sm-2 col-form-label"> Payment Status </label>
        <div class="col-sm-10">
          <select class="form-control" id="payment_status" name="payment_status">
            <option selected value="<%= @transaction['payment_status'] %>"><%= @transaction['payment_status'] %></option>
            <option value="Rejected">Rejected</option>
            <option value="Pending">Pending</option>
            <option value="Approved">Approved</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="admin_approved" class="col-sm-2 col-form-label">Admin Approved</label>
        <div class="col-sm-10">
          <select class="form-control" id="type" name="admin_approved">
            <option selected value="<%= @transaction['admin_approved'] %>"><%= @transaction['admin_approved'] %></option>
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
        </div>
      </div>
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary float-right">Update</button>
    </form>
    <a href="/transactions_lists" class="btn btn-secondary float-left">Back</a>
  </div>
</div>
