<div class="container">
  <div class="row mt-3">
    <div class="col">
      <% if @errors.any? %> <% @errors.each do |error| %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> <%= error %> </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% end %> <% end %>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col mb-3">
      <div class="card">
       <form action="/edit_a_wishlist/<%= @wishlist['id']%>" method="post" enctype="multipart/form-data">
        <input type="hidden" name="car_id" value="<%= @wishlist['car_id'] %>" />
        <input type="hidden" name="price" value="<%= @wishlist['car_price'] %>" />
        <% if @wishlist['car_photo'] %>
          <img src="/uploads/cars/<%= @wishlist['car_photo'] %>" name="car_photo" class="card-img-top" alt="<%= @wishlist['car_name'] %>" />
        <% end %>
        <div class="card-body">
          <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="name" name="car_name" value="<%= @wishlist['car_name'] %>" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="brand" class="col-sm-2 col-form-label">Brand</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="brand" name="car_brand" value="<%= @wishlist['car_brand'] %>" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="color" class="col-sm-2 col-form-label">Color</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="color" name="car_color" value="<%= @wishlist['car_color'] %>" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="transmission" class="col-sm-2 col-form-label">Transmission</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="transmission" name="car_transmission" value="<%= @wishlist['car_transmission'] %>" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="car_price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
              <input type="hidden" class="form-control-plaintext" id="car_price" name="car_price" value="<%= @wishlist['car_price'] %>" />
              <input type="text" class="form-control-plaintext" value="<%= format_rupiah(@wishlist['car_price']) %>" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="manufacture" class="col-sm-2 col-form-label">Manufacture</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="manufacture" name="car_manufacture" value="<%= @wishlist['car_manufacture'] %>" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="seat" class="col-sm-2 col-form-label">Seat</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="seat" name="car_seat" value="<%= @wishlist['car_seat'] %>" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="car_stock" class="col-sm-2 col-form-label">Stock</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="car_stock" name="car_stock" value="<%= @wishlist['car_stock'] %>" />
            </div>
          </div>
        <div class="mb-3 row">
            <label for="quantity" class="col-sm-2 col-form-label">Quantity Order</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="quantity" id="quantity" min="1" max="<%= @wishlist['car_stock'] %>" value="<%= @wishlist['quantity'] %>" />
            </div>
        </div>
        <div class="mb-3 row">
          <label for="total_price" class="col-sm col-form-label">Total Price</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" disabled id="total_price" value="<%= format_rupiah(@wishlist['car_price'].to_i * @wishlist['quantity'].to_i) %>">
          </div>
        </div>
        <!-- Button trigger modal -->
        <button type="submit" class="btn btn-success float-end mb-3">Update My Transaction</button>
        </form>

          <a href="/wishlist_lists" class="btn btn-outline-secondary float-start mb-3">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    let quantityInput = document.getElementById("quantity");
    let totalPriceField = document.getElementById("total_price");
    
    // Fetch the unit price
    let pricePerUnit = <%= @wishlist['car_price'].to_i %>;

    quantityInput.addEventListener("input", function() {
      let newTotal = pricePerUnit * quantityInput.value;
      totalPriceField.value = newTotal.toLocaleString("id-ID", {style: 'currency', currency: "IDR"});
    })

  })
</script>