<div class="container my-3">
  <div class="row mt-3">
    <div class="col">
      <h1>List of Cars</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row"><% @cars.each_with_index do |car, index| %> <% if index % 3 == 0 && index != 0 %></div>
  <div class="row">
    <% end %>

    <div class="col-md-4 mb-4">
      <div class="card mb-3">
        <img src="/uploads/cars/<%= car['photo'] %>" class="card-img-top" alt="<%= car['name']%>" />
        <div class="card-body">
          <h5 class="card-title"><%= car['name']%></h5>
          <ul class="list-group">
            <li class="list-group-item">
              <b>Description</b>
            </li>
            <li class="list-group-item">Brand : <%= car['brand']%></li>
            <li class="list-group-item">Color : <%= car['color'] %></li>
            <li class="list-group-item">Transmission : <%= car['transmission'] %></li>
            <li class="list-group-item">Price : <%= format_rupiah(car['price']) %></li>
          </ul>
          <a href="/detail_car/<%= car['id'] %>" class="btn btn-primary float-end mt-3">Detail</a>
          <a href="/wishlist/<%= car['id'] %>" class="btn btn-danger mt-3"><i class="fa-regular fa-heart"></i> Add to wishlist</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- Close last row -->
  <% else %>
    <p class="text-center">No cars available.</p>
  <% end %>
</div>
