<div class="container">
  <div class="row my-4">
    <div class="col">
      <h1 class="float-start">Wishlist Lists</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Success Alert -->
      <%if session[:success] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <div><%= session[:success] %></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- Clear the flash message -->
      <% session[:success] = nil %> <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Success Alert -->
      <%if session[:error] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div><%= session[:error] %></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- Clear the flash message -->
      <% session[:error] = nil %> <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <% if @wishlists && @wishlists.any? %> 
        <% @wishlists.each_with_index do |wishlist, index| %> 
        <li class="list-group-item">
          <% if index % 3 == 0 && index != 0 %>
          </li>
        <li class="list-group-item">
          <% end %>
          <h3><%= wishlist['car_name']%></h3>
          <div class="card mb-3">
            <div class="row">
              <div class="col">
                <img src="/uploads/cars/<%= wishlist['car_photo'] %>" class="img-fluid rounded-start" alt="<%= wishlist['car_name'] %>" />
                <div class="card-body">
                  <h5 class="card-title"><%= wishlist['car_name'] %></h5>
                  <p class="card-text">Quantity : <%= wishlist['quantity'] %></p>
                  <p class="card-text">
                    <b>Total Price : <%= format_rupiah(wishlist['total_price']) %></b>
                  </p>
                  
                  <p class="card-text">
                    <div class="btn-group" role="group">
                      <a href="/edit_checkout/<%= wishlist['id'] %>" class="btn btn-info">Edit</a>
                      <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteTransaction<%= wishlist['id'] %>">Delete</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteTransaction<%= wishlist['id'] %>" tabindex="-1" aria-labelledby="deleteModalLabel<%= wishlist['id'] %>" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel<%= wishlist['id'] %>">Confirm Deletion</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Are you sure want to delete this wishlist ?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="/wishlists/<%= wishlist['id'] %>/delete" method="POST">
                              <input type="hidden" name="_method" value="POST" />
                              <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </li>
        <% else %>
          <h4>No Transactions found</h4>
        <% end %>
      </ul>
    </div>
  </div>
</div>